nav {
  position: fixed;
  top: 0%;
  left: 0px;
  width: 100%;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8cf47;
  box-shadow: 5px 5px 6px rgb(100, 95, 95);
}
.container img {
  margin: 3px;
  border-radius: 60%;
  max-width: 80px;
}
.container-items ul {
  display: flex;
  list-style: none;
}
.container-items ul li {
  font-size: 1rem;
  padding: 10px;
}
.container-items ul li a {
  text-decoration: none;
  text-shadow: 2px 2px 8px #323432;
  font-weight: 600;
}
.container-items ul li a:hover {
  color: rgb(255, 255, 255);
}

@media(max-width: 768px) {
  .container-items ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin: auto;
  }
  .container-items ul li {
    margin: auto; 
  }
}